body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: white;
}

h1 {
  margin-bottom: 20px;
  color: #003366;
}

.periodic-table {
  display: grid;
  grid-template-columns: repeat(18, 70px);
  grid-auto-rows: 80px;
  gap: 5px;
  justify-content: center;
}

.element {
  border: 1px solid #333;
  border-radius: 5px;
  padding: 3px;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.2s ease; 
  
}

.element .number {
  font-size: 10px;
  text-align: left;
}

.element .symbol {
  font-size: 20px;
  font-weight: bold;
}

.element .name {
  font-size: 10px;
}

.element .mass {
  font-size: 10px;
  text-align: right;
}


.no-metal { background: #90EE90; }
.alcalino { background: #FFB6C1; }
.alcalinoterreo { background: #FFD700; }
.metales-transicion { background: #1E90FF; color: white; }
.otro-metal { background: #87CEEB; }
.metaloide { background: #FFA07A; }
.lantanidos { background: #DAA520; }
.actinidos { background: #FF4500; color: white; }
.halogeno { background: #BA55D3; color: white; }
.gas-noble { background: #20B2AA; color: white; }


.leyenda {
  margin-top: 20px;
}

.leyenda ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.leyenda li {
  display: flex;
  align-items: center;
  font-size: 14px;
  background: none !important; 
  padding: 3px 6px;
  border-radius: 4px;
}


.leyenda li::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 8px;
  border: 1px solid #333;
}

.leyenda li.no-metal::before { background: #90EE90; }
.leyenda li.alcalino::before { background: #FFB6C1; }
.leyenda li.alcalinoterreo::before { background: #FFD700; }
.leyenda li.metales-transicion::before { background: #1E90FF; }
.leyenda li.otro-metal::before { background: #87CEEB; }
.leyenda li.metaloide::before { background: #FFA07A; }
.leyenda li.lantanidos::before { background: #DAA520; }
.leyenda li.actinidos::before { background: #FF4500; }
.leyenda li.halogeno::before { background: #BA55D3; }
.leyenda li.gas-noble::before { background: #20B2AA; }


.element:hover {
  outline: 3px solid red;  
  transform: scale(1.1);    
  z-index: 10;              
  position: relative;
}